## Keyword Argument:

In [3]:
def employee(b,a):
    print(f"Entered Employee Id: {a}")
    print(f"Entered Employee Name: {b}")
    return

ed = input("Enter Employee Id: ")
ename = input("Enter Employee Name: ")
employee(a=ed,b=ename)

Enter Employee Id: PY56
Enter Employee Name: Naresh
Entered Employee Id: PY56
Entered Employee Name: Naresh

In [4]:
def employee(b,a):
    print(f"Entered Employee Id: {a}")
    print(f"Entered Employee Name: {b}")
    return

ed = input("Enter Employee Id: ")
ename = input("Enter Employee Name: ")
employee(a=ed,z=ename)

Enter Employee Id: E67
Enter Employee Name: Lokesh

TypeError: employee() got an unexpected keyword argument 'z'

In [6]:
def employee(b,a,c=34000):
    print(f"Entered Employee Id: {a}")
    print(f"Entered Employee Name: {b}")
    print(f"Salary is: {c}")
    return

ed = input("Enter Employee Id: ")
ename = input("Enter Employee Name: ")
employee(a=ed,b=ename)

Enter Employee Id: Q34
Enter Employee Name: Kavitha
Entered Employee Id: Q34
Entered Employee Name: Kavitha
Salary is: 34000

In [7]:
def employee(b,a,c=34000):
    print(f"Entered Employee Id: {a}")
    print(f"Entered Employee Name: {b}")
    print(f"Salary is: {c}")
    return

ed = input("Enter Employee Id: ")
ename = input("Enter Employee Name: ")
esal = int(input("Enter Salary: "))
employee(c=esal,a=ed,b=ename)

Enter Employee Id: K678
Enter Employee Name: Harish
Enter Salary: 25000
Entered Employee Id: K678
Entered Employee Name: Harish
Salary is: 25000

## Required or Positional Argument

In [8]:
def emp(a,b,c):
    print(f"Entered Employee Name is: {b}")
    print(f"Entered Employee id: {a}")
    print(f"Entered Salary is: {c}")
    return

n = input("Enter Employee Id: ")
z = input("Enter Employee Name: ")
emp(n,z)

Enter Employee Id: M4545
Enter Employee Name: Eswar

TypeError: emp() missing 1 required positional argument: 'c'

In [9]:
def emp(a,b,c):
    print(f"Entered Employee Name is: {b}")
    print(f"Entered Employee id: {a}")
    print(f"Entered Salary is: {c}")
    return

n = input("Enter Employee Id: ")
z = input("Enter Employee Name: ")
u = input("Enter Salary: ")
emp(n,z,u)

Enter Employee Id: E23
Enter Employee Name: Prasanna
Enter Salary: 15000
Entered Employee Name is: Prasanna
Entered Employee id: E23
Entered Salary is: 15000

In [10]:
def emp(a,b,c):
    print(f"Entered Employee Name is: {b}")
    print(f"Entered Employee id: {a}")
    print(f"Entered Salary is: {c}")
    return

n = input("Enter Employee Id: ")
z = input("Enter Employee Name: ")
u = input("Enter Salary: ")
y = input("Enter Address: ")
emp(n,z,u,y)

Enter Employee Id: j567
Enter Employee Name: Jagadeesh
Enter Salary: 19000
Enter Address: Kuppam

TypeError: emp() takes 3 positional arguments but 4 were given

## Variable Length Argument:

In [11]:
def sp(y):
    print(y,type(y))
    return

sp(12,'Naresh',78.012,False)

TypeError: sp() takes 1 positional argument but 4 were given

In [12]:
def sp(*y):
    print(y,type(y))
    return

sp(12,'Naresh',78.012,False)

(12, 'Naresh', 78.012, False) <class 'tuple'>

In [13]:
def sp(k,*y):
    print(k,type(k))
    print(y,type(y))
    return

sp(12,'Naresh',78.012,False)

12 <class 'int'>
('Naresh', 78.012, False) <class 'tuple'>

In [14]:
def sp(**y):
    print(y,type(y))
    return

sp(12,'Naresh',78.012,False)

TypeError: sp() takes 0 positional arguments but 4 were given

In [15]:
def sp(**y):
    print(y,type(y))
    return

sp(sno=12,name='Naresh',percentage=78.012,status=False)

{'sno': 12, 'name': 'Naresh', 'percentage': 78.012, 'status': False} <class 'dict'>

In [23]:
def sp(z,**y):
    print(z,type(z))
    print(y,type(y))
    return

sp(12,name='Naresh',percentage=78.012,status=False)

12 <class 'int'>
{'name': 'Naresh', 'percentage': 78.012, 'status': False} <class 'dict'>

In [22]:
def sp(z,*k,**y):
    print(z,type(z))
    print(k,type(k))
    print(y,type(y))
    return

sp(12,58,26,'Suresh',name='Naresh',percentage=78.012,status=False)

12 <class 'int'>
(58, 26, 'Suresh') <class 'tuple'>
{'name': 'Naresh', 'percentage': 78.012, 'status': False} <class 'dict'>

In [21]:
def sp(z,*k,**y):
    print(z,type(z))
    print(k,type(k))
    print(y,type(y))
    return

sp(12,58,gender='male',26,'Suresh',name='Naresh',percentage=78.012,status=False)

SyntaxError: positional argument follows keyword argument (1560727875.py, line 7)

In [19]:
def sp(z,*k,**y,p):
    print(z,type(z))
    print(k,type(k))
    print(y,type(y))
    print(p,type(p))
    return

sp(12,58,26,'Suresh',name='Naresh',gender='male',percentage=78.012,status=False)

SyntaxError: invalid syntax (1462203156.py, line 1)

In [20]:
def sp(z,*k,**y,p='45.012'):
    print(z,type(z))
    print(k,type(k))
    print(y,type(y))
    print(p,type(p))
    return

sp(12,58,26,'Suresh',name='Naresh',gender='male',percentage=78.012,status=False)

SyntaxError: invalid syntax (284492902.py, line 1)

In [24]:
def sp(z,*k,p='45.012',**y):
    print(z,type(z))
    print(k,type(k))
    print(y,type(y))
    print(p,type(p))
    return

sp(12,58,26,'Suresh',name='Naresh',gender='male',percentage=78.012,status=False)

12 <class 'int'>
(58, 26, 'Suresh') <class 'tuple'>
{'name': 'Naresh', 'gender': 'male', 'percentage': 78.012, 'status': False} <class 'dict'>
45.012 <class 'str'>

In [25]:
def sp(z,*k,p,**y):
    print(z,type(z))
    print(k,type(k))
    print(y,type(y))
    print(p,type(p))
    return

sp(12,58,26,'Suresh',name='Naresh',gender='male',percentage=78.012,status=False)

TypeError: sp() missing 1 required keyword-only argument: 'p'

In [29]:
while True:
    print("1.Reverse a number\n"
    "2.Digit Count\n3.Even numbers Sum\n4.Exit")
    n = int(input("Enter Your Choice: "))
    if n==3:
        q = int(input("Enter a number: "))
        es = 0
        while q!=0:
            if ((q%10)%2)==0:
                es+=q%10
            q//=10
        print(f"Even sum is: {es}")
    elif n == 4:
        print("Thankyou Visit Again!!!")
        break
    elif n == 1:
        k = int(input("Enter a number: "))
        z = 0
        while k!=0:
            z = z*10+k%10
            k//=10
        print(f"Reverse number is: {z}")
    elif n == 2:
        m = int(input("Enter a number: "))
        c = 0
        while m!=0:
            m//=10
            c+=1
        print(f"Digit Count is: {c}")
    else:
        print("Entered Valid Option, Try Again!!!")

1.Reverse a number
2.Digit Count
3.Even numbers Sum
4.Exit
Enter Your Choice: 4
Thankyou Visit Again!!!

## Data Structures:
    - To organise the data in order or unorder format
    - List
    - Tuple
    - Set
    - Dictionary

## List
    - It can be represented as [] and seperated with , values
    - It can changes a value
    - It stores data in ordered format
    - It allows duplicate values
    - Slicing can be done because of index
    - It stores all data type values
    - It can be typecasted as list()

In [31]:
b = []
k = list()
print(b,type(b))
print(k,type(k))

[] <class 'list'>
[] <class 'list'>

In [33]:
s = [15,259.0121,'Kalyan',6+5j,False,15,15,'53']
print(s,type(s))

[15, 259.0121, 'Kalyan', (6+5j), False, 15, 15, '53'] <class 'list'>

In [34]:
for i in range(len(s)):
    print(i,type(i))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>

In [35]:
for i in range(len(s)):
    print(s[i],type(s[i]))

15 <class 'int'>
259.0121 <class 'float'>
Kalyan <class 'str'>
(6+5j) <class 'complex'>
False <class 'bool'>
15 <class 'int'>
15 <class 'int'>
53 <class 'str'>

In [36]:
for j in s:
    print(j,type(j))

15 <class 'int'>
259.0121 <class 'float'>
Kalyan <class 'str'>
(6+5j) <class 'complex'>
False <class 'bool'>
15 <class 'int'>
15 <class 'int'>
53 <class 'str'>

In [37]:
w = [34,56,7,8,9,12,'Kalyan',True,12,78,9,65,9+5j]
print(w,type(w))
print(w[:])
print(w[::])

[34, 56, 7, 8, 9, 12, 'Kalyan', True, 12, 78, 9, 65, (9+5j)] <class 'list'>
[34, 56, 7, 8, 9, 12, 'Kalyan', True, 12, 78, 9, 65, (9+5j)]
[34, 56, 7, 8, 9, 12, 'Kalyan', True, 12, 78, 9, 65, (9+5j)]

In [38]:
print(w)
print(w[2])
print(w[-3])

[34, 56, 7, 8, 9, 12, 'Kalyan', True, 12, 78, 9, 65, (9+5j)]
7
9

In [49]:
print(w)
print(w[3:])
print(w[-5:])
print(w[:6])
print(w[:-3])
print(w[3:9])
print(w[4:-3])
print(w[-8:7])
print(w[-5:-2])

[34, 56, 7, 8, 9, 12, 'Kalyan', True, 12, 78, 9, 65, (9+5j)]
[8, 9, 12, 'Kalyan', True, 12, 78, 9, 65, (9+5j)]
[12, 78, 9, 65, (9+5j)]
[34, 56, 7, 8, 9, 12]
[34, 56, 7, 8, 9, 12, 'Kalyan', True, 12, 78]
[8, 9, 12, 'Kalyan', True, 12]
[9, 12, 'Kalyan', True, 12, 78]
[12, 'Kalyan']
[12, 78, 9]

In [55]:
print(w)
print(w[3::])
print(w[-4::])
print(w[:5:])
print(w[:-4:])
print(w[::3])
print(w[::-2])

[34, 56, 7, 8, 9, 12, 'Kalyan', True, 12, 78, 9, 65, (9+5j)]
[8, 9, 12, 'Kalyan', True, 12, 78, 9, 65, (9+5j)]
[78, 9, 65, (9+5j)]
[34, 56, 7, 8, 9]
[34, 56, 7, 8, 9, 12, 'Kalyan', True, 12]
[34, 8, 'Kalyan', 78, (9+5j)]
[(9+5j), 9, 12, 'Kalyan', 9, 7, 34]

In [56]:
print(w)
print(w[3:7:])
print(w[5:-3:])
print(w[-3:6:])
print(w[-4:-7:])
print(w[2:7:3])
print(w[3:9:-2])
print(w[9:-4:2])
print(w[9:-3:-1])
print(w[-2:-9:-2])
print(w[::-1])
print(w[::2])

[34, 56, 7, 8, 9, 12, 'Kalyan', True, 12, 78, 9, 65, (9+5j)]
[8, 9, 12, 'Kalyan']
[12, 'Kalyan', True, 12, 78]
[]
[]
[7, 12]
[]
[]
[]
[65, 78, True, 12]
[(9+5j), 65, 9, 78, 12, True, 'Kalyan', 12, 9, 8, 7, 56, 34]
[34, 7, 9, 'Kalyan', 12, 9, (9+5j)]

In [58]:
print(w)
print(dir(w))

[34, 56, 7, 8, 9, 12, 'Kalyan', True, 12, 78, 9, 65, (9+5j)]
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [59]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [60]:
print(list.append.__doc__)

Append object to the end of the list.

In [61]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [62]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [63]:
z = []
print(z,type(z))

[] <class 'list'>

In [64]:
print(z)
z.append(489)
print(z)

[]
[489]

In [65]:
print(z)
z.append(12,56)
print(z)

[489]

TypeError: list.append() takes exactly one argument (2 given)

In [66]:
print(z)
z.append([12,78,68])
print(z)

[489]
[489, [12, 78, 68]]

In [67]:
print(z)
z.append((12,89,6,5))
print(z)

[489, [12, 78, 68]]
[489, [12, 78, 68], (12, 89, 6, 5)]

In [68]:
print(z)
z.append({34,6,7,8})
print(z)

[489, [12, 78, 68], (12, 89, 6, 5)]
[489, [12, 78, 68], (12, 89, 6, 5), {8, 34, 6, 7}]

In [69]:
p = []
print(p,type(p))

[] <class 'list'>

In [70]:
h = []
print(h,type(h))

[] <class 'list'>

In [71]:
print(h)
h.extend(45)
print(h)

[]

TypeError: 'int' object is not iterable

In [72]:
print(h)
h.extend(12,89)
print(h)

[]

TypeError: list.extend() takes exactly one argument (2 given)

In [73]:
print(h)
h.extend([45,89,'Prasad'])
print(h)

[]
[45, 89, 'Prasad']

In [74]:
print(h)
h.extend((45,8,3,6))
print(h)

[45, 89, 'Prasad']
[45, 89, 'Prasad', 45, 8, 3, 6]

In [75]:
print(h)
h.extend({7,8,7,9,45})
print(h)

[45, 89, 'Prasad', 45, 8, 3, 6]
[45, 89, 'Prasad', 45, 8, 3, 6, 8, 9, 45, 7]

In [76]:
print(h)
h.extend('Ramesh')
print(h)

[45, 89, 'Prasad', 45, 8, 3, 6, 8, 9, 45, 7]
[45, 89, 'Prasad', 45, 8, 3, 6, 8, 9, 45, 7, 'R', 'a', 'm', 'e', 's', 'h']

In [77]:
z = [56]
print(z)
z.insert(0,45)
print(z)

[56]
[45, 56]

In [78]:
print(z)
z.insert(1,[6,7,8])
print(z)

[45, 56]
[45, [6, 7, 8], 56]

In [79]:
print(z)
z.insert(20,78)
print(z)

[45, [6, 7, 8], 56]
[45, [6, 7, 8], 56, 78]

In [80]:
w = [3,5,6,73,3,23,5]
print(w)
print(w.count(3))
print(w.count(-500))

[3, 5, 6, 73, 3, 23, 5]
2
0

In [81]:
q = [45,78]
x = q.copy()
print(q,id(q))
print(x,id(x))

[45, 78] 2558905881280
[45, 78] 2558907288704

In [82]:
q.append('Lavanya')
print(q)
print(x)

[45, 78, 'Lavanya']
[45, 78]

In [84]:
r = [45,6,78,12,3]
print(r)
print(r.index(6))

[45, 6, 78, 12, 3]
1

In [85]:
print(r.index(-10))

ValueError: -10 is not in list

In [86]:
g = [5,89,3,56,900]
print(g)

[5, 89, 3, 56, 900]

In [87]:
print(g)
g.pop()
print(g)

[5, 89, 3, 56, 900]
[5, 89, 3, 56]

In [88]:
print(g)
g.pop(3)
print(g)

[5, 89, 3, 56]
[5, 89, 3]

In [89]:
print(g)
g.remove(-500)
print(g)

[5, 89, 3]

ValueError: list.remove(x): x not in list

In [90]:
print(g)
g.remove(89)
print(g)

[5, 89, 3]
[5, 3]

In [91]:
print(g)
g.clear()
print(g)

[5, 3]
[]

In [92]:
v = [90,78,5]
print(v)

[90, 78, 5]

In [93]:
print(v)
del v
print(v)

[90, 78, 5]

NameError: name 'v' is not defined

In [94]:
b = [120,5,96,89,2,3]
print(b)
b.sort()
print(b)

[120, 5, 96, 89, 2, 3]
[2, 3, 5, 89, 96, 120]

In [95]:
w = [520,56,2,89,1,36]
print(w)
w.sort(reverse=True)
print(w)

[520, 56, 2, 89, 1, 36]
[520, 89, 56, 36, 2, 1]

In [96]:
k = [56,78,3,56,678,3]
print(k)
k.reverse()
print(k)

[56, 78, 3, 56, 678, 3]
[3, 678, 56, 3, 78, 56]

```
    Task:
    
    Input:
        5
        3
        6
        7
        23
        5
    Output:
        Entered numbers are: 3 6 7 23 5
        Sorted Numbers are: 3 5 6 7 23
        Reverse are: 5 23 7 6 3
```

In [104]:
a=[]
n=int(input())
for i in range(n):
    y=int(input())
    a.append(y)
print("Entered numbers are: ",end="")
for j in range(n):
    print(a[j],end=" ")
a.sort()
print("\nSorted numbers are: ",end="")
for j in range(n):
    print(a[j],end=" ")
a.reverse()
print("\nReverse numbers are: ",end="")
for j in range(n):
    print(a[j],end=" ")

5
15
2
59
4
56
Entered numbers are: 15 2 59 4 56
Sorted numbers are: 2 4 15 56 59
Reverse numbers are: 59 56 15 4 2

## Tuple:
    - It can be represented as () and seperated with , values
    - It stores data in ordered format
    - It allows all data type values
    - It allows duplicate values
    - It can be type casted as tuple()
    - Slicing can be done because of index
    - It can't changes a value

In [105]:
d = ()
t = tuple()
print(d,type(d))
print(t,type(t))

() <class 'tuple'>
() <class 'tuple'>

In [106]:
q = (4,90.45,'Lalitha',56+6j,False,5,5,5,'45.015')
print(q,type(q))

(4, 90.45, 'Lalitha', (56+6j), False, 5, 5, 5, '45.015') <class 'tuple'>

In [107]:
for j in range(len(q)):
    print(j,type(j))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>

In [108]:
for i in range(len(q)):
    print(q[i],type(q[i]))

4 <class 'int'>
90.45 <class 'float'>
Lalitha <class 'str'>
(56+6j) <class 'complex'>
False <class 'bool'>
5 <class 'int'>
5 <class 'int'>
5 <class 'int'>
45.015 <class 'str'>

In [109]:
for i in q:
    print(i,type(i))

4 <class 'int'>
90.45 <class 'float'>
Lalitha <class 'str'>
(56+6j) <class 'complex'>
False <class 'bool'>
5 <class 'int'>
5 <class 'int'>
5 <class 'int'>
45.015 <class 'str'>

In [110]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [111]:
y = (4,65,34,7,4)
print(y)
print(y.count(4))
print(y.count(-6))

(4, 65, 34, 7, 4)
2
0

In [112]:
print(y)
print(y.index(34))

(4, 65, 34, 7, 4)
2

In [113]:
print(y.index(-200))

ValueError: tuple.index(x): x not in tuple

In [116]:
print(y)
print(y[3])
print(y[2:5])
print(y[::-1])

(4, 65, 34, 7, 4)
7
(34, 7, 4)
(4, 7, 34, 65, 4)