# Headings:

## Sample Example for Heading
####### Sample for 7 Hashes

# Styling Text

**This is example for bold**

__This is another example for bold__

*This is an example for italic*

_This is another example for italic_

~~This is an example for strikethough~~

**This is an example for all _bold_ and italic**

***Example for all bold and italic***

# Quoting Text

> Example for quoting text

# Quoting Code

`Example-1 Example-2`

``Example-1`` ``Example-2``

```
    def addtn(a,n):
        return a+n
```

```
Example-1
Example-2
Example-3
```

# Links

Hi Refer to this page [Click](https://www.kec.ac.in/)

# Relative Link

Sample py file [View](sample.py)
Image view by relative Link [View](python.jpeg)

# Image

Image view

![View](python.jpeg)

By using Internet

![Click](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLLwcxFfb3KeZgNTjPCiXUNJEVakCjFYj_tgJV8DhZmw&s)

## Variable Assignments:
    - single variable = single value
    - n number of variables = n number of values
    - n number of variables = single value

In [1]:
d,k = 45,89.0212
d,k

(45, 89.0212)

In [3]:
q,p,y = 4,89.01545,'56','kavitha'
q,p,y

ValueError: too many values to unpack (expected 3)

In [4]:
q,p,y = 4,89.01545
q,p,y

ValueError: not enough values to unpack (expected 3, got 2)

In [5]:
w = '450'
print(w)
w

450

'450'

# Data Types:
    - int => only numbers
    - float => numbers and decimal values
    - str => enclosed with ' or "
    - complex => real and imaginary 
    - boolean => Either True or False
    - None => None
    - All Data Structures [list,tuple,set and dictionary]

In [6]:
a = 25
a

25

# Type:
    - To know the data type of a variable
    Syntax:
        type(variablename)

In [8]:
a,b,c,d,e,f,g = 1,56.012,'Lokesh',5+8j,False,'67',None
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))
print(g,type(g))

1 <class 'int'>
56.012 <class 'float'>
Lokesh <class 'str'>
(5+8j) <class 'complex'>
False <class 'bool'>
67 <class 'str'>
None <class 'NoneType'>

In [9]:
q = '78'
print(type(q))
type(q)

<class 'str'>

str

# Operators:
    - Arithmetic => +,-,/,//,*,%,**
    - Relational => >,<,>=,<=,!=,==
    - Logical => AND,OR,NOT
    - Bitwise => &,|,^,!,>>,<<
    - Assignment => +=,-=,/=,%=,//=,**=
    - Identity => is,is not
    - Membership => in,not in

In [13]:
a,b = 10,50
print(a and b)
print(b and a)
print(a & b)

50
10
2

In [12]:
print(a or b)
print(b or a)
print(a | b)

10
50
58

In [16]:
import keyword

In [17]:
print(dir(keyword))

['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'issoftkeyword', 'kwlist', 'softkwlist']

In [18]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [19]:
print(len(keyword.kwlist))

36

# Input Formatting:
    - It reads a value from user and it stores as a string data type by default
    - It displays an info to a user
    Syntax:
        variablename = input("something info")

In [3]:
w = input("Enter a value: ")
print(w,type(w))

Enter a value: 45
45 <class 'str'>

In [ ]:
a = 45
print(a)

In [1]:
print(keyword.kwlist)

NameError: name 'keyword' is not defined

In [2]:
print(a)

NameError: name 'a' is not defined

# Typecasting:
    - To change a dat type from one data type to another data type
    - int()
    - float()
    - str()
    - complex()
    - All Data Structures[list(),tuple(),set() and dict()]

# Output Formatting:
    - ,+
    - %
    - .format
    - f

In [12]:
n,m = int(input("Enter a value: ")),int(input("Enter b value: "))
print("Addition of",n,"and",m,"is:",n+m)
print("Addition of "+str(n)+" and "+str(m)+" is: "+str(n+m))
print("Addition of %d and %d is: %d"%(n,m,n+m))
print("Addition of {} and {} is: {}".format(n,m,n+m))
print("Addition of {1} and {0} is: {2}".format(n,m,n+m))
print(f"Addition of {n} and {m} is: {n+m}")

Enter a value: 1
Enter b value: 6
Addition of 1 and 6 is: 7
Addition of 1 and 6 is: 7
Addition of 1 and 6 is: 7
Addition of 1 and 6 is: 7
Addition of 6 and 1 is: 7
Addition of 1 and 6 is: 7